QWEN_API_KEY=
OPENAI_API_KEY=
DEEPSEEK_API_KEY=
EODHD_API_KEY=
TWELVE_DATA_API_KEY=
FRED_API_KEY=
FMP_API_KEY=
TUSHARE_TOKEN=
ALPHA_VANTAGE_API_KEY=
RQDATA_USERNAME=
RQDATA_PASSWORD=
CCXT_EXCHANGE=
CCXT_API_KEY=
CCXT_SECRET=
